// Animations

// Transitions
$general-change: 0.3s ease-in-out;
$slow-change: 0.5s ease-in-out;
$quick-change: 0.1s ease-in-out;

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes overflow {
  0% {
    overflow: hidden;
  }

  100% {
    overflow: auto;
  }
}

@keyframes pulse-in {
  0% {
    box-shadow: 0 0 0 0 rgba($black-grey, 0.2);
  }

  100% {
    box-shadow: 6px 6px 0 0 rgba($black-grey, 0.9);
  }
}

@keyframes pulse-out {
  0% {
    box-shadow: 6px 6px 0 0 rgba($black-grey, 0.9);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($black-grey, 0.9);
  }
}

@keyframes pulse-in-dark {
  0% {
    box-shadow: 0 0 0 0 rgba($black-grey, 0.2);
  }

  100% {
    box-shadow: 6px 6px 0 0 rgba($black-grey, 0.9);
  }
}

@keyframes pulse-out-dark {
  0% {
    box-shadow: 6px 6px 0 0 rgba($black-grey, 0.9);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($black-grey, 0.9);
  }
}

@keyframes appear-cube-icon {
  0% {
    transform: translate(-50%, 0) scale(1);
  }
  100% {
    transform: translate(-50%, -16px) scale(1.1);
  }
}

@keyframes nav-item-hover {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}

@keyframes appear-top {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// Aos animation

[data-aos="custom-animation"] {
  opacity: 0;
  transform: translateY(10px);
  transition: transform, opacity, 0.6s ease-in 0.3s;

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}
