// BASE

// Global
* {
  box-sizing: border-box;
}

html {
  font-size: $font-base;
  scroll-behavior: smooth;
}

body {
  @include typo-rwd(body);
  background: $white;
  color: $black-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

// Content
iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    outline: none;
  }
}

.wrapper {
  max-width: $layout-maxWidth;
  margin: 0 auto;
  padding: 0 24px;
  // @include mq($until: $layout-maxWidth) {
  //   padding: 0 20px;
  // }
}

svg {
  width: 26px;
  height: 26px;
  path {
    fill: currentColor;
  }
}
