// Layout

$header-height: 80px;
$header-height-mv: 60px;

.outer-wrapper {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: $header-height-mv;
  }
  .content {
    padding-top: $header-height-mv;
  }
  @include mq(md) {
    .header {
      height: $header-height;
    }
    .content {
      padding-top: $header-height;
    }
  }
}

.intro-heading {
  max-width: 800px;
  .pre-title {
    margin-bottom: 10px;
  }
}
