// Layout

$header-height: 80px;

.outer-wrapper {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: $header-height;
  }
  .content {
    padding-top: $header-height;
  }
}

.intro-heading {
  max-width: 800px;
  .pre-title {
    margin-bottom: 10px;
  }
}
