// Utils

.hide-in-desktop {
  @include mq(md) {
    display: none;
  }
}

.show-in-mobile {
  display: block;
  @include mq(lg) {
    display: none;
  }
}

.show-in-tablet {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.show-in-desktop {
  display: none;
  @include mq(lg) {
    display: block;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem;
  word-wrap: normal;
}

.screen-reader-link {
  opacity: 0;
}

.link {
  color: $black-grey;
  text-decoration: underline;
  &:hover {
    color: $grey-10;
  }
}

.disable-scroll-mobile {
  overflow: hidden;
}

.banner {
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
  background: $grey-2;
  .pattern {
    position: absolute;
    top: -228px;
    right: -278px;
    width: 900px;
    max-width: 1500px;
  }
}

.basic-list {
  li {
    padding-left: 22px;
    position: relative;
    margin-bottom: 10px;
    &:before {
      content: "";
      width: 6px;
      height: 6px;
      background: $black-grey;
      position: absolute;
      top: 8px;
      left: 4px;
    }
  }
}

.basic-table {
  width: 100%;
  border-collapse: collapse;
  &-wrapper {
    overflow: auto;
  }
  th,
  td {
    border: 1px solid darken($grey-2, 10%);
    text-align: left;
  }
  th {
    padding: 6px 20px;
    background: $grey-2;
  }
  td {
    padding: 16px 20px;
  }
}

svg {
  path {
    fill: currentColor;
  }
}
