// Animated grid

.animated-grid {
  position: absolute;
  top: -58px;
  right: -194px;
  pointer-events: none;
  .viewport {
    width: 1065px;
    height: 835px;
  }
  canvas {
    background: $white;
    border: none;
    outline: none;
    opacity: 0;
    transition: opacity 1s ease-out;
    &.visible {
      opacity: 1;
    }
  }
}
