// Approach

.approach {
  .beta {
    margin-bottom: 24px;
  }
  .intro-text {
    color: $grey-4;
    max-width: 90%;
  }
  .block-list {
    padding: 40px 0;
  }
  .block-item {
    margin-bottom: 60px;
  }
  &-grid {
    margin-bottom: 40px;
  }
  @include mq($until: lg) {
    &-col {
      margin-bottom: 40px;
    }
  }
  @include mq(lg) {
    &-grid {
      display: flex;
      align-items: flex-start;
      margin-bottom: 80px;
    }
    &-col {
      flex: 1 1 50%;
      &:first-child {
        padding-right: 60px;
      }
    }
    .block-list {
      padding: 96px 0 0;
    }
  }
  @include mq(xl) {
    padding-bottom: 180px;
  }
}
