// Aucta

.aucta {
  .info {
    .button {
      margin: 0 24px 24px 0;
    }
  }
  .gamma {
    margin-bottom: 48px;
  }
  .demo-wrapper {
    height: 535px;
    border-radius: 4px;
    overflow: hidden;
    img {
      width: 100%;
      margin: 0;
      display: block;
    }
  }

  iframe {
    width: 100%;
    height: 503px;
    margin-top: -3px;
    border-radius: 0 0 4px 4px;
  }

  @include mq(lg) {
    padding: 160px 0;
  }

  @include mq($until: xl) {
    .demo-wrapper {
      margin-top: 20px;
    }
  }

  @include mq(xl) {
    .wrapper {
      display: flex;
      align-items: center;
    }

    .info {
      flex: 1 1 auto;
    }
    .demo-wrapper {
      flex: 0 0 920px;
      margin-left: auto;
      padding-left: 100px;
    }
  }
}
