// Blocks

.visual-block {
  margin: 40px 0;
  max-width: 910px;

  .gamma {
    margin-bottom: 20px;
  }

  .basic-text {
    margin-bottom: 3px;
    color: rgba($white, 0.8);
  }

  .block-content {
    // max-width: 480px;
    color: rgba($white, 0.8);
    font-weight: 400;
    line-height: 1.4;
    p {
      margin-bottom: 16px;
    }
  }

  &.reverse {
    .cube-grid {
      order: -1;
      // margin-left: 0;
    }
    .info {
      margin-left: auto;
    }
  }

  .cube-grid {
    margin: 100px auto 0 auto;
  }
  @include mq(md) {
    margin: 80px 0;
    display: flex;
    align-items: center;
    .info {
      flex: 1 1 auto;
      // max-width: 600px;
      padding-right: 90px;
    }
    .cube-grid {
      margin: 0 auto;
    }
    &.reverse {
      .info {
        padding: 0 0 0 90px;
      }
      // .cube-grid {
      //   margin: 0;
      // }
    }
  }
}

.cta {
  .beta {
    margin-bottom: 10px;
    max-width: 600px;
  }

  &-text {
    color: $grey;
    max-width: 600px;
  }
  &-action {
    margin-top: 20px;
  }

  @include mq(md) {
    .wrapper {
      display: flex;
      align-items: center;
    }
    &-info {
      padding-right: 40px;
      flex: 1 1 auto;
    }
    &-action {
      flex: 0 0 auto;
      margin: 0 0 0 auto;
    }
  }
  @include mq(lg) {
    padding: 120px 0;
  }
}

.info-block {
  margin: 60px 0;
  .gamma,
  p {
    margin-bottom: 10px;
  }

  .basic-text {
    font-weight: $medium;
    color: $grey;
  }
}
