// Blocks

.visual-block {
  margin: 40px 0;
  max-width: 910px;

  .gamma {
    margin-bottom: 20px;
  }

  .basic-text {
    margin-bottom: 3px;
    color: rgba($white, 0.8);
  }

  .block-content {
    // max-width: 480px;
    color: rgba($white, 0.8);
    font-weight: 400;
    line-height: 1.4;
    p {
      margin-bottom: 16px;
    }
  }

  &.reverse {
    .cube-grid {
      order: -1;
      // margin-left: 0;
    }
    .info {
      margin-left: auto;
    }
  }

  .cube-grid {
    margin: 100px auto 0 auto;
  }
  @include mq(md) {
    margin: 80px 0;
    display: flex;
    align-items: center;
    .info {
      flex: 1 1 auto;
      // max-width: 600px;
      padding-right: 90px;
    }
    .cube-grid {
      margin: 0 auto;
    }
    &.reverse {
      .info {
        padding: 0 0 0 90px;
      }
      // .cube-grid {
      //   margin: 0;
      // }
    }
  }
}

// Cta

.cta {
  .beta {
    margin-bottom: 10px;
    max-width: 600px;
  }

  &-text {
    color: $grey-8;
    max-width: 600px;
  }
  &-action {
    margin-top: 20px;
  }

  @include mq(md) {
    .wrapper {
      display: flex;
      align-items: center;
    }
    &-info {
      padding-right: 40px;
      flex: 1 1 auto;
    }
    &-action {
      flex: 0 0 auto;
      margin: 0 0 0 auto;
    }
  }
  @include mq(lg) {
    padding: 120px 0;
  }
}

// Info block

.info-block {
  margin: 60px 0;
  .gamma,
  p {
    margin-bottom: 10px;
  }

  .basic-text {
    // font-weight: $medium;
    color: $grey-8;
  }
}

// Block List

.block-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  .block-item {
    padding-right: 32px;
    flex: 0 0 100%;
    margin-bottom: 32px;
  }

  @include mq(md) {
    .block-item {
      flex: 0 0 50%;
    }
  }
  @include mq(lg) {
    .block-item {
      flex: 0 0 25%;
    }
  }
}

// Block item

.block-item {
  &.is-simple {
    display: flex;
    align-items: flex-start;
    svg {
      margin-right: 26px;
      color: $grey-3;
      width: 34px;
      height: 34px;
    }
    .title {
      font-size: 24px;
      line-height: 30px;
      font-weight: $regular;
    }
    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $grey-1;
      border: 1px solid $grey-2;
      border-radius: 1px;
      color: $grey-8;
      width: 40px;
      height: 40px;
      margin-right: 24px;
      margin-top: -2px;
    }
  }
  .icon-box {
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $grey-1;
    border: 1px solid $grey-2;
    border-radius: 1px;
    margin-bottom: 24px;
    svg {
      width: 30px;
      height: 30px;
      color: $grey-8;
    }
  }
  .delta {
    margin-bottom: 18px;
  }
}
