// Blocks

.visual-block {
  margin: 80px 0;

  .gamma {
    margin-bottom: 20px;
  }

  .basic-text {
    margin-bottom: 3px;
    color: rgba($white, 0.8);
  }

  &.reverse {
    .cube-grid {
      order: -1;
      margin-left: 0;
    }
    .info {
      margin-left: auto;
    }
  }
  @include mq(md) {
    display: flex;
    align-items: center;
    .info {
      flex: 1 1 auto;
      max-width: 500px;
    }
    .cube-grid {
      margin: 0 90px 0 auto;
    }
  }
}

.cta {
  padding: 120px 0;
  .wrapper {
    display: flex;
    align-items: center;
  }
  &-info {
    padding-right: 40px;
    flex: 1 1 auto;
  }

  .beta {
    margin-bottom: 10px;
    max-width: 600px;
  }

  &-text {
    color: $grey;
    max-width: 600px;
  }
  &-actions {
    flex: 0 0 auto;
    margin-left: auto;
  }
}
