// Bricks

.brick {
  background: $white;
  padding: 80px 0;
  &.dark {
    background: $black;
    color: $white;
    .basic-list {
      color: rgba($white, 0.7);
      li:before {
        background: rgba($white, 0.7);
      }
    }
  }
  &.grey {
    background: $grey-light;
  }

  @include mq(lg) {
    padding: 120px 0;
  }
}

// Claims

.claims {
  .beta {
    max-width: 780px;
  }

  .basic-list {
    li {
      font-weight: 400;
    }
  }
  @include mq(lg) {
    padding-bottom: 50px;
    .wrapper {
      max-width: 900px;
    }
  }
}
