// Bricks

.brick {
  background: $white;
  padding: 80px 0;
  &.dark {
    background: $black;
    color: $white;
    .basic-list {
      color: rgba($white, 0.7);
      li:before {
        background: rgba($white, 0.7);
      }
    }
  }
  &.grey {
    background: $grey-light;
  }

  @include mq(lg) {
    padding: 120px 0;
  }
}

// Claims

.claims {
  .beta {
    max-width: 780px;
  }

  .basic-list {
    li {
      font-weight: 400;
    }
  }
  @include mq(lg) {
    padding-bottom: 50px;
    .wrapper {
      max-width: 900px;
    }
  }
}

// whyus

.whyus {
  padding: 100px 0 60px 0;
  .delta {
    margin-bottom: 10px;
    opacity: 0.9;
  }
  p {
    opacity: 0.7;
    font-size: 15px;
  }
  &-group {
    padding: 40px 0;
  }
  .icon-block {
    flex: 1 1 33.3%;
    margin-bottom: 40px;
    padding-right: 60px;
    img {
      width: 60px;
      margin-left: -8px;
    }
  }
  @include mq(lg) {
    &-group {
      display: flex;
      flex-wrap: wrap;
      padding: 60px 0 20px;
    }
    .delta {
      min-height: 57px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

.icon-block {
  @include mq(lg) {
    &-title {
      display: flex;
      align-items: flex-start;
      img {
        margin-right: 6px;
        flex-shrink: 0;
      }
    }
  }
}
