// Contact

.contact {
  position: relative;
  .pattern {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .card {
    flex: 1 1 auto;
    &-grid {
      max-width: 840px;
      z-index: 2;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: 40px 0;
    }

    &.w-50 {
      flex: 0 0 calc(50% - 20px);

      &:first-child {
        margin-right: 40px;
      }
    }
  }
}

.card {
  background: $white;
  padding: 38px 40px 40px 40px;
  margin-bottom: 40px;

  .gamma {
    margin-bottom: 6px;
  }

  .button {
    margin-top: 10px;
    + .button {
      margin-left: 20px;
    }
  }

  p {
    font-weight: $medium;
    color: $grey;
    margin-bottom: 10px;
  }

  &.w-50 {
    display: flex;
    flex-direction: column;
    .button {
      width: 100%;
      margin-top: auto;
    }
  }
}
