// Contact

.contact {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  .pattern {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .card {
    flex: 1 1 auto;
    &-grid {
      max-width: 840px;
      z-index: 2;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: 40px 0;
    }
  }
  @include mq(md) {
    .card {
      &.w-50 {
        flex: 0 0 calc(50% - 20px);

        &:first-child {
          margin-right: 40px;
        }
      }
    }
  }
  @include mq(lg) {
    padding-bottom: 50px;
  }
}
