// Cubes

$cube-width: 110px;
$v-to-h: calc(113 / 190);
$cube-face-height: $cube-width * $v-to-h;
$cube-height: calc(#{$cube-width} * (154 / 116));
$cube-padding: $cube-width / 4;
$cube-padding-v: $cube-padding * $v-to-h;

.cube {
  $self: &;
  &-n,
  &-e,
  &-s,
  &-w {
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 0.4s;
    width: $cube-width;
    height: $cube-height;
    position: absolute;
  }
  &-n {
    top: 0;
    left: calc(#{$cube-width} / 2 + #{$cube-padding} / 2);
    z-index: 1;
  }
  &-s {
    top: $cube-face-height + $cube-padding-v;
    left: calc(#{$cube-width} / 2 + #{$cube-padding} / 2);
    z-index: 3;
  }
  &-e {
    top: calc(#{$cube-face-height} / 2 + #{$cube-padding-v} / 2);
    left: $cube-width + $cube-padding;
    z-index: 2;
  }
  &-w {
    top: calc(#{$cube-face-height} / 2 + #{$cube-padding-v} / 2);
    left: 0;
    z-index: 2;
  }
  &-skirt {
    min-width: $cube-width * 2 + $cube-padding + 1px;
    position: absolute;
    top: calc(#{$cube-height} / 1.3);
    left: -1px;
    z-index: 10;
  }
  &-grid {
    margin-top: calc(#{$cube-face-height} * 0.65);
    position: relative;
    width: calc(#{$cube-width} * 2 + #{$cube-padding});
    height: calc(#{$cube-height} + 70px);
    flex-shrink: 0;
    top: 10px;

    .icon {
      z-index: 10;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -4px;
      width: calc(#{$cube-width} / 2.2);
      color: $primary;
      background: $black;
      border-radius: 10px;
      width: 54px;
      height: 54px;
    }

    &.activated {
      .icon {
        animation: appear-cube-icon 0.5s both;
        animation-delay: 0.4s;
      }
    }

    &.is-north {
      &.activated {
        #{$self}-n {
          transform: translateY(-$cube-face-height * 0.65);
        }
      }
    }

    &.is-east {
      &.activated {
        #{$self}-e {
          transform: translateY(-$cube-face-height * 0.6);
        }
      }
    }

    &.is-south {
      &.activated {
        #{$self}-s {
          transform: translateY(-$cube-face-height * 0.6);
        }
      }
    }

    &.is-west {
      &.activated {
        #{$self}-w {
          transform: translateY(-$cube-face-height * 0.6);
        }
      }
    }
  }

  @include mq(md) {
    &-grid {
      &.is-north {
        top: 60px;
      }
    }
  }
}
