// Footer

.footer {
  $self: &;
  background: $black-grey;
  color: $white;
  padding: 0 0 16px 0;
  font-size: 16px;
  line-height: 20.16px;

  &-caption {
    margin-right: 32px;
    display: block;
    margin-bottom: 8px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  @include mq(lg) {
    padding: 24px 0;

    .wrapper {
      display: flex;
      align-items: center;
    }
    .right-slot {
      margin-left: auto;
    }

    &-caption {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}
