// Footer

.footer {
  $self: &;
  .logo {
    width: 100px;
    margin-right: 20px;
  }
  &-main {
    background: darken($grey-light, 2%);
    padding: 20px 0;
  }
  &-extra {
    background: darken($grey-light, 5%);
    padding: 10px 0;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  &-caption {
    font-size: 12px;
    color: $grey;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .nav-item {
    margin-right: 20px;
  }

  @include mq($until: md) {
    .logo {
      margin-bottom: 6px;
    }
    .nav-item {
      display: block;
      margin: 0;
      padding-left: 0;
    }
    &-social {
      .link {
        display: block;
        margin-bottom: 10px;
      }
      .social-item {
        margin: 0 10px 0 0;
      }
    }
    .right-slot {
      .footer-caption {
        display: block;
        margin-bottom: 2px;
      }
    }
  }

  @include mq(md) {
    &-main {
      .wrapper {
        display: flex;
        align-items: center;
      }
      #{$self}-social {
        margin-left: auto;
      }
    }

    &-social {
      display: flex;
      align-items: center;
    }
    &-extra {
      .wrapper {
        display: flex;
        align-items: center;
      }
      .right-slot {
        margin-left: auto;
      }
    }
  }
}
