// Header

.header {
  padding: 24px 0;
  background: $white;
  .wrapper {
    display: flex;
    align-items: center;
  }
  .main-nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
  }
  .logo {
    width: 120px;
  }
}

.main-nav {
  .nav-item {
    margin-left: 32px;
    font-size: 16px;
    font-weight: 500;
  }
  .lang-selector {
    margin-left: 40px;
  }
}

.lang-selector {
  .lang-item {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $grey;
    &.active {
      font-weight: 700;
      color: $black;
    }
    &:last-child {
      margin-left: 6px;
      padding-left: 6px;
      position: relative;
      &:before {
        content: "";
        width: 1px;
        height: 12px;
        background-color: $grey;
        position: absolute;
        top: 4px;
        left: 0;
      }
    }
  }
}
