// Headings

.alpha {
  @include typo-rwd(alpha);
}

.beta {
  @include typo-rwd(beta);
}

.gamma {
  @include typo-rwd(gamma);
}

.delta {
  @include typo-rwd(delta);
}

.intro-text {
  @include typo-rwd(intro-text);
}

.basic-text {
  @include typo-rwd(basic-text);
}

.text {
  @include typo-rwd(basic-text);
  font-weight: $medium;
  color: $grey-8;
}

.cta-text {
  @include typo-rwd(cta-text);
}

.pre-title {
  @include typo-rwd(pre-title);
  text-transform: uppercase;
  color: $grey-10;
}
