// Headings

.alpha {
  @include typo-rwd(alpha);
}

.beta {
  @include typo-rwd(beta);
}

.gamma {
  @include typo-rwd(gamma);
}

.delta {
  @include typo-rwd(delta);
}

.intro-text {
  @include typo-rwd(intro-text);
}

.basic-text {
  @include typo-rwd(basic-text);
}

.text {
  @include typo-rwd(basic-text);
  color: $grey-4;
}

.cta-text {
  @include typo-rwd(cta-text);
}

.pre-title {
  @include typo-rwd(pre-title);
  text-transform: uppercase;
  color: $grey-4;
  &.tag {
    display: inline-block;
    background: $grey-1;
    border: 1px solid $grey-2;
    padding: 8px 16px;
  }
}

.centered {
  @include mq(lg) {
    text-align: center;
  }
}
