// Hero

.hero {
  padding: 80px 0 200px;
  position: relative;
  overflow: hidden;
  background: $white;

  &-info {
    max-width: 730px;
    z-index: 10;
    position: relative;
  }

  &-pattern {
    position: absolute;
    top: 28%;
    right: 0;
    width: 150%;
    z-index: 1;
    max-width: none;
  }
  .alpha {
    margin-bottom: 20px;
  }

  .intro-text {
    color: $grey;
  }

  .button {
    margin-top: 30px;
  }
  @include mq($until: sm) {
    .animated-grid {
      top: 20%;
      right: -90%;
    }
  }
  @include mq($from: sm, $until: md) {
    .animated-grid {
      top: 20%;
      right: -60%;
    }
  }
  @include mq($from: md, $until: lg) {
    .animated-grid {
      top: 15%;
      right: -40%;
    }
  }
  @include mq($from: sm) {
    &-info {
      width: 90%;
    }
  }
  @include mq(lg) {
    height: 781px;
    padding: 180px 0 250px;
    &-pattern {
      max-width: 1500px;
      top: 0;
      right: 0;
      width: 100%;
    }
  }
}
