// Hero

.hero {
  text-align: center;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  background: $white;

  &-info {
    z-index: 10;
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &-pattern {
    position: absolute;
    top: 28%;
    right: 0;
    width: 150%;
    z-index: 1;
    max-width: none;
  }
  .alpha {
    margin-bottom: 20px;
  }

  .intro-text {
    color: $grey-4;
    max-width: 640px;
    margin: 0 auto 64px;
  }

  @include mq($until: sm) {
    .animated-grid {
      top: 20%;
      right: -90%;
    }
  }
  @include mq($from: sm, $until: md) {
    .animated-grid {
      top: 20%;
      right: -60%;
    }
  }
  @include mq($from: md, $until: lg) {
    .animated-grid {
      top: 15%;
      right: -40%;
    }
  }
  @include mq(lg) {
    padding: 120px 0 60px;
    &-pattern {
      top: 0;
      right: 0;
      width: 100%;
    }

    &-info {
      margin-bottom: 120px;
    }
  }
}
