// Map

.map {
  height: 300px;
  width: 100%;
  padding: 0;
  position: relative;
  background: $grey-light;
  .wrapper {
    position: relative;
  }
  &-info-box {
    background: $black;
    color: $white;
    padding: 30px;
    display: inline-block;
    max-width: 300px;
    .text {
      margin-top: 10px;
    }
  }

  .map-info-box {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 10;
  }
}
