// Quote

.quote {
  position: relative;
  .wrapper {
    display: flex;
  }

  &-info {
    flex: 1 1 auto;
    padding-right: 40px;
  }

  &-text {
    @include typo-rwd(quote-text);
    font-style: italic;
    font-weight: normal;
    margin-bottom: 16px;
  }

  &-author {
    text-transform: uppercase;
    margin-bottom: 2px;
    font-weight: $medium;
    color: rgba($black-grey, 0.8);
  }

  &-position {
    font-size: 16px;
    color: $grey-10;
  }

  &-graphic {
    margin: 0 auto;
    flex: 0 0 140px;
  }

  @include mq($until: md) {
    &-graphic {
      position: absolute;
      top: 24px;
      right: 20px;
      width: 120px;
    }
  }
}
