// Services

.services {
  @include mq($until: md) {
    .block-list {
      padding: 40px 0;
    }
  }
  @include mq(md) {
    .block-list {
      &:not(.is-simple) {
        padding: 96px 0 88px;
      }
      &.is-simple {
        padding: 69px 0;
      }
    }
  }
}
