// Services

.services {
  @include mq($until: md) {
    .block-list {
      padding: 40px 0;
    }
  }
  @include mq(md) {
    .block-list {
      &:not(.is-simple) {
        padding: 96px 0 120px;
      }
      &.is-simple {
        padding: 64px 0 0 0;
      }
    }
  }
  @include mq(xl) {
    padding-bottom: 208px;
  }
}
