// Values

.values {
  $gutter: 30px;
  padding-bottom: 60px;
  @include mq(md) {
    &-block {
      display: flex;
      margin-left: -$gutter;
    }

    .info-block {
      flex: 1 1 33.3%;
      padding: 0 $gutter;
    }
  }
  @include mq(lg) {
    padding-bottom: 100px;
  }
}
