// VARIABLES

// Colors

$black-grey: #141e30;
$white: #fff;
$grey-1: #f2f4f8;
$grey-2: #dde1e6;
$grey-3: #c7ced4;
$grey-4: #b1b9c2;
$grey-5: #9ea7b3;
$grey-6: #8b95a3;
$grey-7: #788393;
$grey-8: #657283;
$grey-9: #526173;
$grey-10: #3f4f63;
$success: #00c853;
$error: #d50000;
$warning: #ffa900;

// Fonts
$font-base: 16px;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 900;

// Layout
$layout-maxWidth: 1500px;

$xxs: 0;
$xs: 390px;
$sm: 520px;
$md: 760px;
$lg: 960px;
$xl: 1220px;
$xxl: 1600px;

// Breakpoints
$grid-breakpoints: (
  xs: $xs,
  // Extra small screen / phone
  sm: $sm,
  // Small screen / phone
  md: $md,
  // Medium screen / tablet
  lg: $lg,
  // Large screen / desktop
  xl: $xl,
  // Extra large screen / wide desktop
  xxl: $xxl // Extra large screen / wide desktop,,,,,
);
