// VARIABLES

// Colors

$primary: #036fff;
$black: #000;
$white: #fff;
$white-60: rgba($white, 0.6);
$black-20: rgba($black, 0.2);
$black-40: rgba($black, 0.4);
$grey: #939393;
$grey-light: #f9f9f9;

// Fonts
$font-base: 16px;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 900;

// Layout
$layout-maxWidth: 1100px;

$xxs: 0;
$xs: 390px;
$sm: 520px;
$md: 760px;
$lg: 960px;
$xl: 1200px;
$xxl: 1500px;

// Breakpoints
$grid-breakpoints: (
  xs: $xs,
  // Extra small screen / phone
  sm: $sm,
  // Small screen / phone
  md: $md,
  // Medium screen / tablet
  lg: $lg,
  // Large screen / desktop
  xl: $xl,
  // Extra large screen / wide desktop
  xxl: $xxl // Extra large screen / wide desktop,,,,,,,,
);
