// Texts

@font-face {
  font-family: "CeraPro";
  src: url("../../assets/fonts/ceraPro-Light.ttf");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "CeraPro";
  src: url("../../assets/fonts/ceraPro-Medium.ttf");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "CeraPro";
  src: url("../../assets/fonts/ceraPro-italic.ttf");
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "CeraPro";
  src: url("../../assets/fonts/ceraPro-Bold.ttf");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "CeraPro";
  src: url("../../assets/fonts/ceraPro-Black.ttf");
  font-display: swap;
  font-weight: 900;
}

$cera: "CeraPro", sans-serif;

$font-families: (
  cera: $cera,
);

$typography: (
  body: (
    format: (
      xxs: (
        ff: cera,
        fz: 1rem,
        lh: normal,
      ),
    ),
  ),
  header-jumbo: (
    format: (
      xxs: (
        fz: 70px,
        lh: 1.2,
        ls: -1.99px,
        fw: 900,
      ),
    ),
  ),
);

// .alpha {
//   @include typo-rwd(header-jumbo);
// }
