// Texts

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;600&display=swap");

$font: "Outfit", sans-serif;

$font-families: (
  font: $font,
);

$typography: (
  body: (
    format: (
      xxs: (
        ff: font,
        fz: 1.2,
        lh: normal,
      ),
    ),
  ),
  alpha: (
    format: (
      xxs: (
        fz: 40px,
        lh: 1.1,
        fw: 500,
      ),
      md: (
        fz: 80px,
        lh: 1.2,
      ),
      xl: (
        fz: 120px,
        lh: 151px,
      ),
    ),
  ),
  beta: (
    format: (
      xxs: (
        fz: 40px,
        lh: 1.1,
        fw: 500,
      ),
      md: (
        fz: 60px,
      ),
      lg: (
        fz: 88px,
      ),
    ),
  ),
  gamma: (
    format: (
      xxs: (
        fz: 28px,
        lh: 1.2,
        fw: 500,
      ),
      lg: (
        fz: 32px,
        lh: 40.32px,
        fw: 500,
      ),
    ),
  ),
  delta: (
    format: (
      xxs: (
        fz: 22px,
        lh: 1.1,
        fw: 500,
      ),
    ),
  ),
  pre-title: (
    format: (
      xxs: (
        fz: 16px,
        lh: 1.2,
        fw: 400,
      ),
      md: (
        fz: 18px,
        lh: 1.2,
        fw: 400,
      ),
    ),
  ),
  intro-text: (
    format: (
      xxs: (
        fz: 24px,
        lh: 1.2,
        fw: 400,
      ),
      md: (
        fz: 28px,
        lh: 1.2,
      ),
      lg: (
        fz: 32px,
        lh: 40px,
      ),
    ),
  ),
  basic-text: (
    format: (
      xxs: (
        fz: 18px,
        lh: 1.2,
        fw: 400,
      ),
      md: (
        fz: 20px,
        lh: 25px,
      ),
    ),
  ),
  cta-text: (
    format: (
      xxs: (
        fz: 20px,
        lh: 1.2,
        fw: 400,
      ),
      md: (
        fz: 22px,
        lh: 1.2,
        fw: 400,
      ),
    ),
  ),
  quote-text: (
    format: (
      xxs: (
        fz: 24px,
        lh: 1.2,
        fw: 300,
      ),
      md: (
        fz: 26px,
        lh: 1.2,
        fw: 300,
      ),
    ),
  ),
);
