// Texts

// @font-face {
//   font-family: "CeraPro";
//   src: url("../../assets/fonts/CeraPro-Light.ttf");
//   font-display: swap;
//   font-weight: 300;
// }

// @font-face {
//   font-family: "CeraPro";
//   src: url("../../assets/fonts/CeraPro-Regular.ttf");
//   font-display: swap;
//   font-weight: 400;
// }

// @font-face {
//   font-family: "CeraPro";
//   src: url("../../assets/fonts/CeraPro-Medium.ttf");
//   font-display: swap;
//   font-weight: 500;
// }

// @font-face {
//   font-family: "CeraPro";
//   src: url("../../assets/fonts/CeraPro-Italic.ttf");
//   font-display: swap;
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: "CeraPro";
//   src: url("../../assets/fonts/CeraPro-Bold.ttf");
//   font-display: swap;
//   font-weight: 700;
// }

// @font-face {
//   font-family: "CeraPro";
//   src: url("../../assets/fonts/CeraPro-Black.ttf");
//   font-display: swap;
//   font-weight: 900;
// }

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;700;900&display=swap");
$font: "Lexend", sans-serif;

$font-families: (
  font: $font,
);

$typography: (
  body: (
    format: (
      xxs: (
        ff: font,
        fz: 1.2,
        lh: normal,
      ),
    ),
  ),
  alpha: (
    format: (
      xxs: (
        fz: 40px,
        lh: 1.1,
        fw: 900,
      ),
      md: (
        fz: 56px,
      ),
      lg: (
        fz: 62px,
      ),
    ),
  ),
  beta: (
    format: (
      xxs: (
        fz: 32px,
        lh: 1.1,
        fw: 900,
      ),
      md: (
        fz: 36px,
      ),
      lg: (
        fz: 40px,
      ),
    ),
  ),
  gamma: (
    format: (
      xxs: (
        fz: 24px,
        lh: 1.2,
        fw: 900,
      ),
      lg: (
        fz: 28px,
      ),
    ),
  ),
  delta: (
    format: (
      xxs: (
        fz: 22px,
        lh: 1.1,
        fw: 500,
      ),
    ),
  ),
  pre-title: (
    format: (
      xxs: (
        fz: 16px,
        lh: 1.2,
        fw: 400,
      ),
      md: (
        fz: 20px,
      ),
    ),
  ),
  intro-text: (
    format: (
      xxs: (
        fz: 22px,
        lh: 1.2,
        fw: 300,
      ),
      md: (
        fz: 26px,
      ),
      lg: (
        fz: 28px,
      ),
    ),
  ),
  basic-text: (
    format: (
      xxs: (
        fz: 18px,
        lh: 1.2,
        fw: 300,
      ),
    ),
  ),
  cta-text: (
    format: (
      xxs: (
        fz: 20px,
        lh: 1.2,
        fw: 400,
      ),
      md: (
        fz: 22px,
      ),
    ),
  ),
  quote-text: (
    format: (
      xxs: (
        fz: 24px,
        lh: 1.2,
        fw: 300,
      ),
      md: (
        fz: 26px,
      ),
    ),
  ),
);
